* {
    box-sizing: border-box;
}

body {
    background-color: #FFF;
}

html {
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
}

h1 {
    font-size: 35px;
    line-height: 1;
    color: hsl(300, 43%, 22%);
}
.container {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerBgTop {
    background-image: url(images/bg-pattern-top-mobile.svg);
    background-position: center right;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 30rem;
}
.containerBgBottom {
    background-image: url(images/bg-pattern-bottom-mobile.svg);
    background-position: top left;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 30rem;
}


.card {
    width: 20.5rem;
    display: grid;
    grid-template-areas:
        "title"
        "reviews"
        "endorsements"
}

.title {
    text-align: center;
    grid-area: title;
}

.titleInfo {
    text-align: center;
    color: gray;
    font-weight: 300;
    line-height: 1.5;
}
.reviews {
    margin: 1rem 0;
    grid-area: reviews;
   
}

.review {
    background-color: hsl(300, 24%, 96%);
    border-radius: 5px;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0; 
    z-index: 5;
}

.ratingInfo {
    font-size: 12px;
    font-weight: 600;
    margin-top: .5rem;
    letter-spacing: .08rem;
}

.stars img{
    margin: 0 .2rem;
    width: 1rem;
    height: 1rem;

}

.endorsements {
    grid-area: endorsements;
}

.endorsement{
    background-color: hsl(300, 43%, 22%);
    margin: 1rem 0; 
    border-radius: 5px;
    padding: 2rem;
}

.userInfo {
    display: grid;
    
    grid-template-areas:
        "userAvatar userName"
        "userAvatar userStatus";
    
}

.userAvatar {
    grid-area: userAvatar;
    
    width: 3.5rem;
}
.userAvatar img {
    border-radius: 100px;
    width: 2.5rem;
    height: 2.5rem;
    
}

.userName {
    color: #FFF;
    grid-area: userName;
    width: 12rem;
    font-size: 13px;
    font-weight: 600;
   
    align-self: flex-end;
}

.userStatus {
    color: hsl(333, 80%, 67%);
    gridArea: userStatus;
    font-size: 13px;
    

}

.endorsementText {
    color:#FFF;
    font-size: 13px;
    font-weight: 200;
    line-height: 1.5;
    margin-top: 1rem;
}

@media only screen and (min-width: 480px) {

    .containerBgTop {
        background-image: url(images/bg-pattern-top-desktop.svg);
        background-position: top center;
        background-repeat: no-repeat;
        top: 0;
        left: 0;
        width: 50%;
        height: 30rem;
    }
    .containerBgBottom {
        background-image: url(images/bg-pattern-bottom-desktop.svg);
        background-position: top ;
        background-repeat: no-repeat;
        top: 0;
        right: 0;
        width: 50%;
        height: 100rem;
        
    }

    .card {
        grid-template-areas:
            "title reviews"
            "endorsements endorsements";
        width: 80rem;
        margin-top: 4rem;
    }
    h1 {
        font-size: 50px;
    }

    .title {
        text-align: left;
        width: 30rem;
    }

    .titleInfo {
        text-align: left;
        font-size: 16px;
    }
    .reviews {
       
        align-self: center;
        justify-self: flex-end;
        width: 40rem;
        display: flex;
        flex-direction: column;
        
    }
    .review {
        flex-direction: row;
        width: 30rem;
        
        margin: .5rem 0;
        
    }

    .reviewLeft {
        justify-self:flex-start;
        
    }

    .reviewCenter {
        align-self:center;
    }

    .reviewRight {
        align-self: flex-end;
    }

    .stars {
        margin: 0 2rem;
    }

    .stars img {
        width: 1.15rem;
        height: 1.15rem;
    }
    .ratingInfo {
        margin: 0 0;
        font-size: 14px;
        font-weight: 550;
    }
    .endorsements {
        display: flex;
       
        height: 20rem;
        justify-content: space-between;
        margin-top: 3rem;
        margin-bottom: 5rem;
    }

    .endorsement {
       max-height: 15rem;
       max-width: 25rem;
       padding: 3rem;
       
    }

    .userName {
        font-size: 14px;
        width: 15rem;
    }

    .userStatus {
        font-size: 14px;
    }
    .endorsementText {
        font-size: 15px;
    }

    .endorsementTop {
        align-self: flex-start;
    }

    .endorsementMiddle{
        align-self: center;
    }

    .endorsementBottom {
        align-self: flex-end;
    }
}